a {
    margin: 0;   
    padding: 0; 
} 

/* Estilo para o cabeçalho */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 10;
    
}

header .d-flex {
    width: 100%;
}

header a {
    color: black;
    font-size: .875rem;
    text-decoration: none;
    margin-right: 1.25rem;
}

/* Estilo para o botão de Login, com bordas arredondadas */
.btn-primary {
    background-color: #1a73e8 !important;  /* Cor azul do Google */
    border-color: #1a73e8 !important;
    color: white !important;  /* Texto em branco */
    padding: 0.4rem 2rem;  /* Ajuste do padding para dar mais espaço horizontal */
    border-radius: 1.875rem !important;  /* Borda arredondada, mais parecida com o Google */
    font-size: .875rem;  /* Tamanho da fonte ajustado */
}

.btn-primary:hover {
    background-color: #1667c1 !important;  /* Tom mais escuro ao passar o mouse */
    border-color: #1667c1 !important;
}


/* Logo */
.google-img {
    margin-top: 14rem;
    width: 23.75rem;
}

/* Barra de pesquisa */
.google-input {
    outline: none;
    border: .0625rem solid #c9c9c9;
    width: 34rem;
    border-radius: 3.125rem;
    padding: 0.5rem 0;
    border-left-style: none;
    box-shadow: .3125rem .25rem .625rem rgba(0, 0, 0, 0.1); /* Adicionando sombra */
}

.input-group-text {
    border-radius: 3.125rem;
    background-color: #fff;
    border-right-style: none;
    color: #9c9c9c;
}

.bten {
    margin-top: 1rem;
    outline: none;
    border-style: none;
    padding: 0.4rem 1rem;
    background-color: #f8f9fa;
    color: #272140;
    border-radius: .25rem;
    font-size: .875rem;
}

.bten:hover {
    border: .0625rem solid #c9c9c9;
}

.goi {
    margin-top: 1rem;
    font-size: .875rem !important;
}

.goi-a {
    margin-right: 0.5rem;
    color: #1a0dbe;
    text-decoration: none;
}

.goi-a:hover {
    color: #1a0dbe;
    text-decoration: underline;
}

/* Rodapé */
.footer {
    background-color: #f2f2f2;
    font-size: .875rem;
    color: #6f6f99;
}

.p-footer {
    margin-top: 0.6rem;
    margin-bottom: -0.25rem;
    margin-left: 1.5rem;
}

.a-footer {
    margin-left: 1.5rem;
}

.a-foot {
    text-decoration: none !important;
    margin-right: 1rem;
}

.a-foot:hover {
    text-decoration: underline !important;
}

/* Estilos para os resultados de pesquisa */
#results-list .card {
    width: 100%;
    height: 100%;
    border: .0625rem solid #ddd;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0rem .25rem .375rem rgba(0, 0, 0, 0.1);
}

#results-list .card img {
    width: 100%;
    height: 12.5rem;
    object-fit: cover;
}

#results-list .card-body {
    padding: .9375rem;
    text-align: center;
}

#results-list .card-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.625rem;
}

#results-list .card-text {
    font-size: 0.875rem;
    margin-bottom: 10px;
}

#results-list .btn {
    background-color: #1a73e8;
    color: white;
}

@media screen and (max-width: 583px ) {
    .google-img {
        width: 14rem;      
    }

    .google-input {
        width: 15rem;
    }
    
}
